In [1]:
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/spark/python (3.5.0)
Requirement already satisfied: py4j==0.10.9.7 in /opt/conda/lib/python3.11/site-packages (from pyspark) (0.10.9.7)

In [2]:
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .appName("PySparkMySQLIntegration") \
    .config("spark.jars.packages", "mysql:mysql-connector-java:8.0.30") \
    .getOrCreate()

In [3]:
flights_df = spark.read.format("jdbc") \
    .option("url", "jdbc:mysql://mysql-nadim.alwaysdata.net:3306/nadim_db") \
    .option("driver", "com.mysql.cj.jdbc.Driver") \
    .option("dbtable", "flights") \
    .option("user", "nadim") \
    .option("password", "root123456789@") \
    .load()

In [4]:
flights_df.show()

+----+-----+---+--------+--------------+---------+--------+--------------+---------+-------+------+-------+------+----+--------+--------+----+------+-------------------+
|year|month|day|dep_time|sched_dep_time|dep_delay|arr_time|sched_arr_time|arr_delay|carrier|flight|tailnum|origin|dest|air_time|distance|hour|minute|          time_hour|
+----+-----+---+--------+--------------+---------+--------+--------------+---------+-------+------+-------+------+----+--------+--------+----+------+-------------------+
|2021|    1|  1|     517|           515|        2|     830|           819|       11|     UA|  1545| N14228|   EWR| IAH|     227|    1400|   5|    15|2021-01-01 05:00:00|
|2021|    1|  1|     533|           529|        4|     850|           830|       20|     UA|  1714| N24211|   LGA| IAH|     227|    1416|   5|    29|2021-01-01 05:00:00|
|2021|    1|  1|     542|           540|        2|     923|           850|       33|     AA|  1141| N619AA|   JFK| MIA|     160|    1089|   5|    40|2021-01-01 05:00:00|
|2021|    1|  1|     544|           545|       -1|    1004|          1022|      -18|     B6|   725| N804JB|   JFK| BQN|     183|    1576|   5|    45|2021-01-01 05:00:00|
|2021|    1|  1|     554|           600|       -6|     812|           837|      -25|     DL|   461| N668DN|   LGA| ATL|     116|     762|   6|     0|2021-01-01 06:00:00|
|2021|    1|  1|     554|           558|       -4|     740|           728|       12|     UA|  1696| N39463|   EWR| ORD|     150|     719|   5|    58|2021-01-01 05:00:00|
|2021|    1|  1|     555|           600|       -5|     913|           854|       19|     B6|   507| N516JB|   EWR| FLL|     158|    1065|   6|     0|2021-01-01 06:00:00|
|2021|    1|  1|     557|           600|       -3|     709|           723|      -14|     EV|  5708| N829AS|   LGA| IAD|      53|     229|   6|     0|2021-01-01 06:00:00|
|2021|    1|  1|     557|           600|       -3|     838|           846|       -8|     B6|    79| N593JB|   JFK| MCO|     140|     944|   6|     0|2021-01-01 06:00:00|
|2021|    1|  1|     558|           600|       -2|     753|           745|        8|     AA|   301| N3ALAA|   LGA| ORD|     138|     733|   6|     0|2021-01-01 06:00:00|
|2021|    1|  1|     558|           600|       -2|     849|           851|       -2|     B6|    49| N793JB|   JFK| PBI|     149|    1028|   6|     0|2021-01-01 06:00:00|
|2021|    1|  1|     558|           600|       -2|     853|           856|       -3|     B6|    71| N657JB|   JFK| TPA|     158|    1005|   6|     0|2021-01-01 06:00:00|
|2021|    1|  1|     558|           600|       -2|     924|           917|        7|     UA|   194| N29129|   JFK| LAX|     345|    2475|   6|     0|2021-01-01 06:00:00|
|2021|    1|  1|     558|           600|       -2|     923|           937|      -14|     UA|  1124| N53441|   EWR| SFO|     361|    2565|   6|     0|2021-01-01 06:00:00|
|2021|    1|  1|     559|           600|       -1|     941|           910|       31|     AA|   707| N3DUAA|   LGA| DFW|     257|    1389|   6|     0|2021-01-01 06:00:00|
|2021|    1|  1|     559|           559|        0|     702|           706|       -4|     B6|  1806| N708JB|   JFK| BOS|      44|     187|   5|    59|2021-01-01 05:00:00|
|2021|    1|  1|     559|           600|       -1|     854|           902|       -8|     UA|  1187| N76515|   EWR| LAS|     337|    2227|   6|     0|2021-01-01 06:00:00|
|2021|    1|  1|     600|           600|        0|     851|           858|       -7|     B6|   371| N595JB|   LGA| FLL|     152|    1076|   6|     0|2021-01-01 06:00:00|
|2021|    1|  1|     600|           600|        0|     837|           825|       12|     MQ|  4650| N542MQ|   LGA| ATL|     134|     762|   6|     0|2021-01-01 06:00:00|
|2021|    1|  1|     601|           600|        1|     844|           850|       -6|     B6|   343| N644JB|   EWR| PBI|     147|    1023|   6|     0|2021-01-01 06:00:00|
+----+-----+---+--------+--------------+---------+--------+--------------+---------+-------+------+-------+------+----+--------+--------+----+------+-------------------+
only showing top 20 rows

In [5]:
planes_df = spark.read.format("jdbc") \
    .option("url", "jdbc:mysql://mysql-nadim.alwaysdata.net:3306/nadim_db") \
    .option("driver", "com.mysql.cj.jdbc.Driver") \
    .option("dbtable", "planes") \
    .option("user", "nadim") \
    .option("password", "root123456789@") \
    .load()

In [6]:
weather_df = spark.read.format("jdbc") \
    .option("url", "jdbc:mysql://mysql-nadim.alwaysdata.net:3306/nadim_db") \
    .option("driver", "com.mysql.cj.jdbc.Driver") \
    .option("dbtable", "weather") \
    .option("user", "nadim") \
    .option("password", "root123456789@") \
    .load()

In [7]:
airlines_df = spark.read.format("jdbc") \
    .option("url", "jdbc:mysql://mysql-nadim.alwaysdata.net:3306/nadim_db") \
    .option("driver", "com.mysql.cj.jdbc.Driver") \
    .option("dbtable", "airlines") \
    .option("user", "nadim") \
    .option("password", "root123456789@") \
    .load()

In [8]:
airports_df = spark.read.format("jdbc") \
    .option("url", "jdbc:mysql://mysql-nadim.alwaysdata.net:3306/nadim_db") \
    .option("driver", "com.mysql.cj.jdbc.Driver") \
    .option("dbtable", "airports") \
    .option("user", "nadim") \
    .option("password", "root123456789@") \
    .load()

## Request 1: Counting Airports, Timezones, Companies, Planes, and Cancelled Flights

In [9]:
# Count total number of airports, departure and destination airports
total_airports = airports_df.select('faa').distinct().count()
departure_airports = flights_df.select('origin').distinct().count()
destination_airports = flights_df.select('dest').distinct().count()

# Count airports that do not observe daylight saving time (dst column is 'N')
airports_no_dst = airports_df.filter(airports_df.dst == 'N').count()

# Count different timezones
timezones = airports_df.select('tzone').distinct().count()

# Count companies, planes, and cancelled flights
companies = airlines_df.count()
planes = planes_df.count()
cancelled_flights = flights_df.filter(flights_df.cancelled == 1).count()

(total_airports, departure_airports, destination_airports, airports_no_dst, timezones, companies, planes, cancelled_flights)

AttributeError: 'DataFrame' object has no attribute 'cancelled'

## Request 2: Most and Least Frequented Departure and Destination Airports

In [10]:
from pyspark.sql.functions import desc, asc

# Most used departure airport
most_used_departure_airport = flights_df.groupBy("origin").count().orderBy(desc("count")).first()

# Top 10 most used destinations
top10_destinations = flights_df.groupBy("dest").count().orderBy(desc("count")).limit(10)

# Top 10 least used destinations
bottom10_destinations = flights_df.groupBy("dest").count().orderBy(asc("count")).limit(10)

# Top 10 planes that have taken off the most
top10_planes_takeoff = flights_df.groupBy("tailnum").count().orderBy(desc("count")).limit(10)

# Top 10 planes that have taken off the least
bottom10_planes_takeoff = flights_df.groupBy("tailnum").count().orderBy(asc("count")).limit(10)

(most_used_departure_airport, top10_destinations, bottom10_destinations, top10_planes_takeoff, bottom10_planes_takeoff)

(Row(origin='EWR', count=91374),
 DataFrame[dest: string, count: bigint],
 DataFrame[dest: string, count: bigint],
 DataFrame[tailnum: string, count: bigint],
 DataFrame[tailnum: string, count: bigint])

## Request 3: Destinations Served by Each Company

In [11]:
# Destinations served by each company
destinations_by_company = flights_df.groupBy("carrier").agg(countDistinct("dest"))

# Destinations served by each company by airport of origin
destinations_by_company_by_airport = flights_df.groupBy("carrier", "origin").agg(countDistinct("dest"))

(destinations_by_company, destinations_by_company_by_airport)

NameError: name 'countDistinct' is not defined

## Request 4: Flights to Houston and NYC to Seattle Information

In [ ]:
# Flights that landed in Houston (IAH or HOU)
flights_to_houston = flights_df.filter(flights_df["dest"].isin(["IAH", "HOU"]))

# Flights from NYC airports to Seattle
nyc_to_seattle_flights = flights_df.filter(flights_df["origin"].isin(["JFK", "LGA", "EWR"]) & (flights_df["dest"] == "SEA"))

# Number of companies serving from NYC to Seattle
companies_serving_nyc_sea = nyc_to_seattle_flights.select("carrier").distinct().count()

# Number of unique planes serving from NYC to Seattle
unique_planes_nyc_sea = nyc_to_seattle_flights.select("tailnum").distinct().count()

(flights_to_houston.count(), nyc_to_seattle_flights.count(), companies_serving_nyc_sea, unique_planes_nyc_sea)

## Request 5: Number of Flights per Destination

## Request 6: Companies Not Operating on All Airports